@use 'sass:map';

$breakpoints: (
  mobile: 600px,
  tablet: 1280px,
);

@function _getBreakpoint($breakpoint) {
  @return map.get($breakpoints, $breakpoint);
}

@mixin mobile {
  @media only screen and (max-width: _getBreakpoint(mobile)) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: _getBreakpoint(tablet)) {
    @content;
  }
}
