// Font Families
$default-font-family: 'Roboto', 'sans-serif';
$secondary-font-family: 'Bungee', 'sans-serif';

// Font Sizes
$font-xxs: 10px;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 28px;

// Heights
$header-height: 56px;
$footer-height: 128px;

// Widths
$page-max-width: 1200px;
$section-max-width: 800px;

// Z-Index
$z-index-body: 997;
$z-index-dialog: 1000;
$z-index-footer: 998;
$z-index-header: 999;
