// Roboto Regular
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  /* IE9 Compat Modes */
  src: url('/assets/fonts/roboto/Roboto-Regular.eot');
  src:
    local('Roboto'),
    local('Roboto-Roboto-Regular'),
    /* IE6-IE8 */ url('/assets/fonts/roboto/Roboto-Regular.eot?#iefix')
      format('embedded-opentype'),
    /* Super Modern Browsers */ url('/assets/fonts/roboto/Roboto-Regular.woff2')
      format('woff2'),
    /* Modern Browsers */ url('/assets/fonts/roboto/Roboto-Regular.woff')
      format('woff'),
    /* Safari, Android, iOS */ url('/assets/fonts/roboto/Roboto-Regular.ttf')
      format('truetype'),
    /* Legacy iOS */ url('/assets/fonts/roboto/Roboto-Regular.svg#Roboto')
      format('svg');
}

// Roboto Light
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  /* IE9 Compat Modes */
  src: url('/assets/fonts/roboto/Roboto-Light.eot');
  src:
    local('Roboto Light'),
    local('Roboto-Light'),
    /* IE6-IE8 */ url('/assets/fonts/roboto/Roboto-Light.eot?#iefix')
      format('embedded-opentype'),
    /* Super Modern Browsers */ url('/assets/fonts/roboto/Roboto-Light.woff2')
      format('woff2'),
    /* Modern Browsers */ url('/assets/fonts/roboto/Roboto-Light.woff')
      format('woff'),
    /* Safari, Android, iOS */ url('/assets/fonts/roboto/Roboto-Light.ttf')
      format('truetype'),
    /* Legacy iOS */ url('/assets/fonts/roboto/Roboto-Light.svg#Roboto')
      format('svg');
}

// Roboto Bold
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  /* IE9 Compat Modes */
  src: url('/assets/fonts/roboto/Roboto-Bold.eot');
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    /* IE6-IE8 */ url('/assets/fonts/roboto/Roboto-Bold.eot?#iefix')
      format('embedded-opentype'),
    /* Super Modern Browsers */ url('/assets/fonts/roboto/Roboto-Bold.woff2')
      format('woff2'),
    /* Modern Browsers */ url('/assets/fonts/roboto/Roboto-Bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/assets/fonts/roboto/Roboto-Bold.woff')
      format('woff'),
    /* Legacy iOS */ url('/assets/fonts/roboto/Roboto-Bold.svg#Roboto')
      format('svg');
}

// Roboto Medium
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  /* IE9 Compat Modes */
  src: url('/assets/fonts/roboto/Roboto-Medium.eot');
  src:
    local('Roboto Medium'),
    local('Roboto-Medium'),
    /* IE6-IE8 */ url('/assets/fonts/roboto/Roboto-Medium.eot?#iefix')
      format('embedded-opentype'),
    /* Super Modern Browsers */ url('/assets/fonts/roboto/Roboto-Medium.woff2')
      format('woff2'),
    /* Modern Browsers */ url('/assets/fonts/roboto/Roboto-Medium.woff')
      format('woff'),
    /* Safari, Android, iOS */ url('/assets/fonts/roboto/Roboto-Medium.ttf')
      format('truetype'),
    /* Legacy iOS */ url('/assets/fonts/roboto/Roboto-Medium.svg#Roboto')
      format('svg');
}

// Bungee Regular
@font-face {
  font-family: 'Bungee';
  src: url('/assets/fonts/bungee/Bungee-Regular.ttf') format('truetype');
}

// Default Material Icons font
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/material-icons/material-icons.ttf') format('truetype');
  font-display: block;
}
.material-icons {
  font-family: 'Material Icons';
}

// Outlined Material Icons font
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/material-icons/material-icons-outlined.otf')
    format('opentype');
  font-display: block;
}
.material-icons-outlined {
  font-family: 'Material Icons Outlined';
}

// Rounded Material Icons font
@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/material-icons/material-icons-round.otf')
    format('opentype');
  font-display: block;
}
.material-icons-round {
  font-family: 'Material Icons Round';
}

// Sharp Material Icons font
@font-face {
  font-family: 'Material Icons Sharp';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/material-icons/material-icons-sharp.otf')
    format('opentype');
  font-display: block;
}
.material-icons-sharp {
  font-family: 'Material Icons Sharp';
}

// Two-toned Material Icons font
@font-face {
  font-family: 'Material Icons Two Tone';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/material-icons/material-icons-two-toned.otf')
    format('opentype');
  font-display: block;
}
.material-icons-two-tone {
  font-family: 'Material Icons Two Tone';
}
