@use './fonts' as font;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font.$font_family_montserrat;
}

h1 {
  font-size: font.$font_size_h1;
  margin: 0;
}

h2 {
  font-size: font.$font_size_h2;
  margin: 0;
}

h3 {
  font-size: font.$font_size_h3;
  margin: 0;
}

h4 {
  font-size: font.$font_size_h4;
  margin: 0;
}

h5 {
  font-size: font.$font_size_h5;
  margin: 0;
}

h6 {
  font-size: font.$font_size_h6;
  margin: 0;
}
