{# dev-blog.html #}
{% extends "layout.html" %}
{% set pageTitle = "Development Blog" %}
{% set activeTitle = "dev-blog" %}
{% set metaDesc = "Cody Tolene's Development Blog" %}
{% set metaKeyw = "Cody, Tolene, Dev, Development, Blog" %}

{% block content %}
<div class="container-staged pt-200">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-5">
                <h2>
                    Development Blog
                </h2>
                <p>
                    - Under Construction -
                </p>
                <a href="/index" target="_self" class="btn btn-theme mt-5">
                    Go Back
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
