{# net.html #}
{% extends "layout.html" %}
{% set pageTitle = "ASP.NET" %}
{% set activeTitle = "net" %}
{% set metaDesc = "ASP.NET demonstration" %}
{% set metaKeyw = "Cody, Tolene, Dot, Net, .NET, ASP.NET" %}

{% block content %}
<div class="container-staged pt-200">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-5">
                <h2>
                    ASP.NET Page
                </h2>
                <p>
                    - Under Construction -
                </p>
                <img src="images/brands/NET_Core.png" class="img-fluid" style="max-width: 250px;" />
                <br />
                <a href="/index" target="_self" class="btn btn-theme mt-5">
                    Go Back
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
