{% extends "layout.html" %}
{% set pageTitle = "React" %}
{% set activeTitle = "react" %}
{% set metaDesc = "React demonstration" %}
{% set metaKeyw = "Cody, Tolene, React" %}

{% block content %}
    <div class="container-staged pt-200">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center pt-5">
                    <h2>
                        React Page
                    </h2>
                    <p>
                        - Under Construction -
                    </p>
                    <img src="images/brands/React.png" class="img-fluid" style="max-width: 250px;" />
                    <br />
                    <a href="/index" target="_self" class="btn btn-theme mt-5">
                        Go Back
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
