@use '../colors' as col;
@use '../variables' as var;

ct-home-page mat-list.profile-list {
  --mdc-list-list-item-one-line-container-height: auto;
  --mdc-list-list-item-two-line-container-height: auto;
  --mdc-list-list-item-three-line-container-height: auto;

  .mat-mdc-list-item.mdc-list-item {
    height: auto;
    min-height: 0;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    align-items: flex-start;
  }

  .mdc-list-item__content {
    height: auto;
    align-items: flex-start;
  }

  .mdc-list-item__primary-text {
    white-space: normal;
    line-height: 1.35;
    position: relative;
    padding-left: var.$space-lg;

    &::before {
      background: col.$green;
      border-radius: 999px;
      content: '';
      height: 8px;
      left: 0;
      position: absolute;
      top: 0.25rem;
      width: 8px;
    }
  }
}
