@import '../fonts';

// Material Icons
mat-icon[class*='material-icons'] {
  direction: ltr;
  display: inline-block;
  font-size: $font_xl;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}
