@use '@angular/material' as mat;

@import 'material-palettes';
@import 'material-functions';

// Import the core styles
@include mat.core();

// No need for legacy m2 API compatibility, use m3.
mat.$theme-legacy-inspection-api-compatibility: false;

// Light theme
$light-theme: create-theme(parse-palette($light-palette), $type: light);

// Verify light theme validity
$has-base: mat.theme-has($light-theme, base);
$has-color: mat.theme-has($light-theme, color);
$has-typography: mat.theme-has($light-theme, typography);
$has-density: mat.theme-has($light-theme, density);

// Dark theme
$dark-theme: create-theme(parse-palette($dark-palette), $type: dark);

// Verify dark theme validity
$has-base: mat.theme-has($dark-theme, base);
$has-color: mat.theme-has($dark-theme, color);
$has-typography: mat.theme-has($dark-theme, typography);
$has-density: mat.theme-has($dark-theme, density);

// Set the default theme (light)
html {
  @include mat.all-component-themes($light-theme);
  @include mat.system-level-colors($light-theme);
  @include mat.system-level-typography($light-theme);
}

// Set the default typography hierarchy
@include mat.typography-hierarchy($light-theme);

// Set the dark theme class
.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include mat.system-level-colors($dark-theme);
}

// Import additional styles
@import 'material-additions';

// Import overrides
@import 'material-overrides';
