@use '../colors' as col;

$palette-primary: (
  0: #000000,
  10: col.$green_darker,
  20: col.$green_dark,
  25: #56a861,
  30: col.$green,
  35: #a0d85a,
  40: col.$green_light,
  50: col.$green_lighter,
  60: #d2efc8,
  70: #e0f7d6,
  80: #edfce5,
  90: #f4fdf0,
  95: #f9fdf7,
  98: #fcfefb,
  99: #fefefc,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: col.$gray_darkest,
    20: col.$gray_darker,
    25: #383a3e,
    30: col.$gray_dark,
    35: #5b5e64,
    40: col.$gray_mid_darker,
    50: col.$gray_mid_dark,
    60: col.$gray_mid_light,
    70: col.$gray_light,
    80: col.$gray_lighter,
    90: col.$gray_lightest,
    95: #f2f2f2,
    98: #fafafa,
    99: #fdfdfd,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1b1f,
    20: #2f3033,
    25: #3b3b3f,
    30: #46464a,
    35: #525256,
    40: #5e5e62,
    50: #77777a,
    60: #919094,
    70: #ababaf,
    80: #c7c6ca,
    90: #e3e2e6,
    95: #f2f0f4,
    98: #faf9fd,
    99: #fdfbff,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #181c22,
    20: #2d3038,
    25: #383b43,
    30: #44474e,
    35: #4f525a,
    40: #5b5e66,
    50: #74777f,
    60: #8e9099,
    70: #a9abb4,
    80: #c4c6d0,
    90: #e0e2ec,
    95: #eff0fa,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
  ),
);

$palette-tertiary: (
  0: #000000,
  10: #1a2b4d,
  20: #2b4a7b,
  25: #33558d,
  30: #3b619f,
  35: #4773b3,
  40: #5286c7,
  50: #7ca3db,
  60: #a1c0eb,
  70: #bed9f7,
  80: #d7e9fc,
  90: #edf4fe,
  95: #f5faff,
  98: #fafeff,
  99: #fdfbff,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: #1c2b46,
    20: #334660,
    25: #3d5272,
    30: #53678e,
    35: #6b7fa8,
    40: #8499c2,
    50: #a3b5d7,
    60: #c1d1eb,
    70: #dde7f7,
    80: #edf2fc,
    90: #f5f8ff,
    95: #fafbff,
    98: #fdfcff,
    99: #fefeff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1b1f,
    20: #2f3033,
    25: #3b3b3f,
    30: #46464a,
    35: #525256,
    40: #5e5e62,
    50: #77777a,
    60: #919094,
    70: #ababaf,
    80: #c7c6ca,
    90: #e3e2e6,
    95: #f2f0f4,
    98: #faf9fd,
    99: #fdfbff,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #181c22,
    20: #2d3038,
    25: #383b43,
    30: #44474e,
    35: #4f525a,
    40: #5b5e66,
    50: #74777f,
    60: #8e9099,
    70: #a9abb4,
    80: #c4c6d0,
    90: #e0e2ec,
    95: #eff0fa,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
  ),
);
