@use '../../styles/colors' as col;
@use '../../styles/variables' as var;

:host {
  display: block;
  height: 100%;
}

.skill-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  .skill-card-header {
    align-items: start;
  }

  .skill-card-content {
    flex: 1 1 auto;
    padding-top: 0.25rem;
  }
}
