<div
  *ngIf="!acceptedPrivacyPolicy"
  role="dialog"
  aria-live="polite"
  aria-label="Privacy Policy - Cookie Consent"
  class="cookie-consent"
>
  <!--googleoff: all-->
  <span class="cookie-consent-message">
    This website uses cookies to ensure you get the best experience possible.
    <a
      aria-label="Learn more aobu the Privacy Policy"
      role="button"
      tabindex="0"
      [routerLink]="['/privacy-policy']"
    >
      Learn more
    </a>
  </span>
  <div class="cookie-consent-button">
    <a
      aria-label="Dismiss Privacy Policy - Cookie Consent Message"
      role="button"
      tabindex="0"
      (click)="acceptPrivacyPolicy()"
    >
      Got It!
    </a>
  </div>
  <!--googleon: all-->
</div>
