@import "../../shared/styles/_palette.scss";
@import "../../shared/styles/_typography.scss";

#mainNav {
  background-color: $theme_dark_gray;
  .navbar-brand {
    color: $theme_light_green_light_tint;
    font-family: $font-family-bungee;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($theme_light_green_light_tint, 10%);
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $white;
        font-family: $font-family-montserrat;

        &.active,
        &:hover {
          color: $theme_light_green_light_tint;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    box-shadow: none;

    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }

    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $theme_dark_gray;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);

      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}

/**
* GitHub Callout
*/

.github-corner {
  z-index: 1031;

  &:hover {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }

  .github-image {
    z-index: 1031;
    fill: $theme_light_green_light_tint;
    color: #000;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }

    &:hover {
      .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
      }
    }
  }
}
