<header>
  <a
    aria-hidden="false"
    class="logo"
    i18n="@@headerLogo"
    role="button"
    routerLink="/"
    tabindex="0"
    (click)="scrollTop()"
    (keyup)="scrollTop()"
    >Cody Tolene</a
  >

  @switch (breakpointState$ | async) {
    @case (BreakpointEnum.DESKTOP) {
      <ng-container [ngTemplateOutlet]="desktopTemplate" />
    }
    @case (BreakpointEnum.TABLET) {
      <ng-container [ngTemplateOutlet]="mobileTemplate" />
    }
    @case (BreakpointEnum.MOBILE) {
      <ng-container [ngTemplateOutlet]="mobileTemplate" />
    }
  }
</header>

<ng-template #mobileTemplate>
  <ct-button
    i18n="@@headerMobileMenuButton"
    mat-button
    type="stroked"
    [matMenuTriggerFor]="menu"
  >
    Menu
  </ct-button>
  <mat-menu #menu="matMenu">
    <ng-container [ngTemplateOutlet]="linksTemplate" />
  </mat-menu>
</ng-template>

<ng-template #desktopTemplate>
  <nav>
    <ng-container [ngTemplateOutlet]="linksTemplate" />
  </nav>
</ng-template>

<ng-template #linksTemplate>
  <a
    aria-hidden="false"
    i18n="@@headerNavLinkHome"
    mat-menu-item
    tabindex="0"
    [routerLink]="(currentUrl$ | async) === '/' ? undefined : '/'"
    (click)="scrollTop()"
    (keyup)="scrollTop()"
    >Intro</a
  >
  <a
    aria-hidden="false"
    i18n="@@headerNavLinkServices"
    mat-menu-item
    tabindex="0"
    [routerLink]="(currentUrl$ | async) === '/' ? undefined : '/'"
    (click)="scrollToElementById('services')"
    (keyup)="scrollToElementById('services')"
    >Services</a
  >
  <a
    aria-hidden="false"
    i18n="@@headerNavLinkAbout"
    mat-menu-item
    tabindex="0"
    [routerLink]="(currentUrl$ | async) === '/' ? undefined : '/'"
    (click)="scrollToElementById('about')"
    (keyup)="scrollToElementById('about')"
    >About</a
  >
  <a
    aria-hidden="false"
    i18n="@@headerNavLinkResume"
    mat-menu-item
    tabindex="0"
    [routerLink]="(currentUrl$ | async) === '/' ? undefined : '/'"
    (click)="scrollToElementById('resume')"
    (keyup)="scrollToElementById('resume')"
    >Resume</a
  >
  <a
    aria-hidden="false"
    i18n="@@headerNavLinkContact"
    mat-menu-item
    tabindex="0"
    [routerLink]="(currentUrl$ | async) === '/' ? undefined : '/'"
    (click)="scrollToElementById('contact')"
    (keyup)="scrollToElementById('contact')"
    >Contact</a
  >
  <a
    aria-hidden="false"
    i18n="@@headerNavLinkPrivacyPolicy"
    mat-menu-item
    tabindex="0"
    routerLink="/privacy-policy"
    >Privacy Policy</a
  >
</ng-template>
