@use '@angular/material' as mat;

@use '../../styles/colors' as col;
@use '../../styles/fonts' as font;
@use '../../styles/variables' as var;
@use '../../styles/z-indexes' as zin;

:host {
  background-color: col.$gray_darker;
  height: var.$header_height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: zin.$z_index_header;

  header {
    align-items: center;
    border-bottom: 2px dashed col.$green;
    display: flex;
    flex-direction: row;
    height: var.$header_height;
    justify-content: space-around;
    width: 100%;

    nav {
      display: flex;
      flex-direction: row;

      > a {
        color: col.$white;
        cursor: pointer;
        margin-left: 1rem;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: col.$green;
          text-decoration: overline;
        }
      }
    }

    .logo {
      color: col.$green;
      font-family: font.$font_family_bungee;
      font-size: font.$font_xxl;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: col.$green;
      }
    }
  }
}
