@use '../../styles/variables' as var;

:host {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 56px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var.$page-max-width;
  padding: 0 1rem;
  width: 100%;
}

.logo {
  font-family: var.$secondary-font-family;
  font-size: var.$font-xxl;
}

.navigation {
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;

    &.active,
    &:hover {
      text-decoration: overline;
    }
  }
}
