@use '@angular/material' as mat;

@import 'material';

:host {
  background-color: mat.get-theme-color($ct-theme, background);
  padding: 1rem;
}

#particle-galaxy {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
