@use '@angular/material' as mat;

:host {
  background-color: var(--sys-background);
  padding: 1rem;
}

#particle-galaxy {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
