// https://github.com/google/material-design-icons/blob/master/font
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/material-icons/material-icons.woff2') format('woff2');
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/material-icons/material-icons-outlined.woff2')
    format('woff2');
  font-display: block;
}
