// Light 300
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  /* IE9 Compat Modes */
  src: url('/fonts/roboto/Roboto-Light.eot');
  src:
    url('/fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/roboto/Roboto-Light.woff2') format('woff2'),
    url('/fonts/roboto/Roboto-Light.woff') format('woff'),
    url('/fonts/roboto/Roboto-Light.ttf') format('truetype'),
    url('/fonts/roboto/Roboto-Light.svg#Roboto') format('svg');
}

// Regular 400
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  /* IE9 Compat Modes */
  src: url('/fonts/roboto/Roboto-Regular.eot');
  src:
    url('/fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
    url('/fonts/roboto/Roboto-Regular.woff') format('woff'),
    url('/fonts/roboto/Roboto-Regular.ttf') format('truetype'),
    url('/fonts/roboto/Roboto-Regular.svg#Roboto') format('svg');
}

// Medium 500
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  /* IE9 Compat Modes */
  src: url('/fonts/roboto/Roboto-Medium.eot');
  src:
    url('/fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
    url('/fonts/roboto/Roboto-Medium.woff') format('woff'),
    url('/fonts/roboto/Roboto-Medium.ttf') format('truetype'),
    url('/fonts/roboto/Roboto-Medium.svg#Roboto') format('svg');
}

// Bold 700
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  /* IE9 Compat Modes */
  src: url('/fonts/roboto/Roboto-Bold.eot');
  src:
    url('/fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
    url('/fonts/roboto/Roboto-Bold.woff') format('woff'),
    url('/fonts/roboto/Roboto-Bold.ttf') format('truetype'),
    url('/fonts/roboto/Roboto-Bold.svg#Roboto') format('svg');
}
