/**
* Fonts
*/

// Montserrat Regular
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/google/montserrat/Montserrat-Regular.ttf') format('truetype');
}

// Just Another Hand Regular
@font-face {
    font-family: 'Just Another Hand';
    src: url('../fonts/google/justanotherhand/JustAnotherHand-Regular.ttf') format('truetype');
}

// Anton Regular
@font-face {
    font-family: 'Anton';
    src: url('../fonts/google/anton/Anton-Regular.ttf')  format('truetype');
}

// Bungee Regular
@font-face {
    font-family: 'Bungee';
    src: url('../fonts/google/bungee/Bungee-Regular.ttf')  format('truetype');
}

// Custom NetCore icon
@font-face {
    font-family: "netcore";
    src:url("../fonts/netcore/netcore.eot");
    src:url("../fonts/netcore/netcore.eot?#iefix") format("embedded-opentype"),
        url("../fonts/netcore/netcore.woff") format("woff"),
        url("../fonts/netcore/netcore.ttf") format("truetype"),
        url("../fonts/netcore/netcore.svg#1557188824") format("svg");
    font-weight: normal;
    font-style: normal;
}

// Roboto Regular
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/google/roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Roboto-Regular'), url('../fonts/google/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/google/roboto/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/google/roboto/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/google/roboto/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/google/roboto/Roboto-Regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

// Roboto Light
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/google/roboto/Roboto-Light.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/google/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/google/roboto/Roboto-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/google/roboto/Roboto-Light.woff') format('woff'), /* Modern Browsers */
    url('../fonts/google/roboto/Roboto-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/google/roboto/Roboto-Light.svg#Roboto') format('svg'); /* Legacy iOS */
}

// Roboto Bold
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/google/roboto/Roboto-Bold.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/google/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/google/roboto/Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/google/roboto/Roboto-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/google/roboto/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/google/roboto/Roboto-Bold.svg#Roboto') format('svg'); /* Legacy iOS */
}

// Roboto Medium
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/google/roboto/Roboto-Medium.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/google/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/google/roboto/Roboto-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/google/roboto/Roboto-Medium.woff') format('woff'), /* Modern Browsers */
    url('../fonts/google/roboto/Roboto-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/google/roboto/Roboto-Medium.svg#Roboto') format('svg'); /* Legacy iOS */
}

// Font Icons

[data-icon]:before {
  font-family: "netcore" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "netcore" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-net-core:before {
  content: "\61";
}