/**
* Typography
*/

$font-family-roboto: 'Roboto', sans-serif;
$font-family-montserrat: 'Montserrat', Helvetica, Arial, sans-serif;
$font-family-justanotherhand: 'Just Another Hand', Helvetica, Arial, sans-serif;
$font-family-anton: 'Anton', sans-serif;
$font-family-bungee: 'Bungee', cursive;

.font-roboto {
    font-family: $font-family-roboto;
}

.font-montserrat {
    font-family: $font-family-montserrat;
}

.font-justanotherhand {
    font-family: $font-family-justanotherhand;
}

.font-anton {
    font-family: $font-family-anton;
}

.font-bungee {
    font-family: $font-family-bungee;
}
