/**
 * Variables
*/

// Cards *
$card_bg: #ffffff; // Card background color
$card_foot_bg: transparent; // Card foot background color
$card_casc_bg: transparent; // Card cascade background color
$card_rating_color: #ffa000; // Rating glyphicons font color
