/**
 * Index
 * Style sheets to be used on 'index.html'
*/

@import 'Carousel';
@import 'GitHubCallout';

.section {
    .service-logo,
    .contact-logo {
        font-size: 175px;

        &:hover {
            text-decoration: none;
        }
    }
}

.game-quote {
    span {
        opacity: 0.5;
        padding: 0 7px 0 5px;
        background-color: rgba(255, 0, 0, 0.3);
    }
}
