@use './styles/variables' as var;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: calc(100vh - var.$header-height);
}

main[ct-content] {
  flex: 1 0 auto;
}

footer[ct-footer] {
  margin-top: auto;
}
