@use '@angular/material' as mat;

@use '../../styles/colors' as col;
@use '../../styles/fonts' as font;
@use '../../styles/z-indexes' as zin;

:host {
  background-color: col.$gray_darker;
  display: flex;
  width: 100%;
  z-index: zin.$z_index_footer;

  > footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    width: 100%;

    .logo {
      color: col.$green;
      cursor: pointer;
      font-family: font.$font_family_bungee;
      font-size: font.$font_xxl;
      height: 3rem;
      line-height: 4rem;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: col.$green;
      }
    }

    p {
      color: col.$white;
      margin: 0.5rem 0 0 0;

      a {
        color: col.$green;
      }
    }
  }
}
