#galaxy {
  align-items: center;
  background: url('/assets/images/galaxy.jpg');
  background: url('/assets/images/galaxy.webp');
  display: flex;
  height: 800px;
  justify-content: center;
  width: 100%;
}
