<!-- INTRO -->
<section id="intro">
  <!-- PARTICLE GALAXY -->
  <div id="particle-galaxy-one"></div>

  <!-- INTRO CONTENT -->
  <div class="section-container">
    <h1>Software Engineer</h1>
    <h3>The sky is the limit.</h3>
  </div>
</section>

<!-- SERVICES -->
<section id="services">
  <!-- PARTICLE HEXAGONS -->
  <div id="particle-hexagons-one"></div>

  <!-- SERVICES CONTENT -->
  <div class="section-container">
    <!-- HEADER -->
    <h1>Services</h1>
    <h2>
      From the back-end to the front-end, website development is my specialty.
    </h2>

    <!-- GOOGLE ANGULAR -->
    <div>
      <a
        aria-label="Google Angular"
        href="https://angular.io/guide/what-is-angular"
        target="_blank"
        title="Google Angular"
      >
        <ct-icon
          class="hover-expand"
          name="angular"
          size="150"
        />
        <h2>Google Angular</h2>
      </a>
      <p>
        Angular is a powerful and versatile framework that enables the
        development of scalable, high-performance applications. With millions of
        developers in its community, Angular has become a cornerstone of modern
        web development, providing developers with the tools they need to create
        fast, responsive applications with ease. I leverage Angular's
        capabilities to deliver seamless front-end experiences that evolve with
        the latest technologies.
      </p>
    </div>

    <!-- ASP.NET -->
    <div>
      <a
        aria-label="Microsoft ASP.NET"
        href="https://dotnet.microsoft.com/en-us/"
        target="_blank"
        title="Microsoft ASP.NET"
      >
        <ct-icon
          class="hover-expand"
          name="dotnet"
          size="150"
        />
        <h2>Microsoft ASP.NET</h2>
      </a>
      <p>
        Microsoft’s ASP.NET framework allows for the creation of powerful,
        secure, and scalable applications across a variety of platforms. With
        .NET, I am able to build enterprise-grade web solutions that integrate
        seamlessly with cloud services, mobile applications, and desktop
        software, offering unmatched versatility for modern businesses.
      </p>
    </div>

    <!-- CLOUD SERVICES -->
    <div>
      <a
        aria-label="Cloud Services"
        href="https://en.wikipedia.org/wiki/Cloud_computing"
        target="_blank"
        title="Cloud Services"
      >
        <ct-icon
          class="hover-expand"
          name="cloud"
          size="150"
        />
        <h2>Cloud Services</h2>
      </a>
      <p>
        Cloud computing is at the forefront of modern technology, providing
        businesses with scalable, on-demand computing power. I specialize in
        integrating cloud platforms to enhance efficiency, security, and
        performance, ensuring that your applications are always available and
        running optimally in the cloud.
      </p>
    </div>

    <!-- DOCKER -->
    <div>
      <a
        aria-label="Docker"
        href="https://docs.docker.com/get-started/overview/"
        target="_blank"
        title="Docker"
      >
        <ct-icon
          class="hover-expand"
          name="docker"
          size="150"
        />
        <h2>Docker</h2>
      </a>
      <p>
        Docker revolutionizes application development by allowing for the
        seamless deployment of code across environments. Using Docker, I ensure
        that your applications are isolated in secure containers, making them
        easy to scale, test, and deploy across a wide range of systems, from
        local development to cloud infrastructure.
      </p>
    </div>

    <!-- HTML5 / CSS3 -->
    <div>
      <a
        aria-label="HTML5"
        href="https://en.wikipedia.org/wiki/HTML5"
        target="_blank"
        title="HTML5"
      >
        <ct-icon
          class="hover-expand"
          name="html5"
          size="150"
        />
        <h2>HTML5 / CSS3</h2>
      </a>
      <p>
        HTML5 and CSS3 form the backbone of the modern web, and I leverage these
        technologies to build responsive, accessible, and visually engaging
        websites. Whether it's crafting pixel-perfect layouts or ensuring that
        your site performs flawlessly on mobile devices, I bring your web
        presence to life with cutting-edge web standards.
      </p>
    </div>

    <!-- AGILE DEVELOPMENT -->
    <div>
      <a
        aria-label="Agile Software Development"
        href="https://en.wikipedia.org/wiki/Agile_software_development"
        target="_blank"
        title="Agile Software Development"
      >
        <ct-icon
          class="hover-expand"
          name="htmx"
          size="150"
        />
        <h2>Agile Development</h2>
      </a>
      <p>
        Agile methodologies foster collaboration, adaptability, and rapid
        delivery of software. With a focus on iterative development and
        continuous improvement, I ensure that your projects stay on track and
        remain flexible enough to accommodate change, resulting in faster
        time-to-market and higher customer satisfaction.
      </p>
    </div>

    <!-- CONTACT ME BUTTON -->
    <div>
      <ct-button
        color="primary"
        type="stroked"
        (click)="scrollToElementById('contact')"
        >Contact Me</ct-button
      >
    </div>
  </div>
</section>

<!-- ABOUT -->
<section id="about">
  <!-- PARTICLE GALAXY -->
  <div id="particle-galaxy-two"></div>

  <!-- ABOUT CONTENT -->
  <div class="section-container">
    <!-- HEADER -->
    <h1>About</h1>
    <h2>Hi there, it's nice to meet you!</h2>

    <!-- IMAGE:TABLET/MOBILE -->
    @if (
      (breakpointState$ | async) === BreakpointEnum.MOBILE ||
      (breakpointState$ | async) === BreakpointEnum.TABLET
    ) {
      <ng-container [ngTemplateOutlet]="myImageTemplate" />
    }

    <!-- MY STORY -->
    <div>
      <h4>My story as a developer</h4>
      <p>
        My journey in software development began over 15 years ago during the
        dot-com boom and what I like to call the "Flash Golden Age" of the
        internet. It was the late 1990's and early 2000's, I was a teenager
        heavily influenced by the Indie Flash Developer community with their
        Flash games and animations, and a huge fanboy of Tom Fulp and
        Newgrounds. Seeking advice from forums on how to get started with Flash,
        I began saving money for Macromedia Flash Professional and took up
        learning ActionScript as soon as I could.
      </p>
      <p>
        By 2006 I was fluent enough with ActionScript 3 to begin creating online
        Flash games taking up roles for programming, animation, and design
        (Photoshop). My dream came true, I'd finally joined the community I'd
        been admiring for those past 7 years; but there was a catch, Flash was
        starting to die out in the digital world due to security vulnerabilities
        and eventually lost the race to different media types. In the late
        2000's I decided to curb Flash and sign up for college. At 18 I learned
        how to program on other platforms using C++, C#, JavaScript, HTML and
        others. My initial learning interests were in game development but in
        college I was creating MySpace templates and Dreamweaver sites on the
        side. This led me into another passion, Web Development!
      </p>
    </div>

    <!-- IMAGE:DESKTOP -->
    @if ((breakpointState$ | async) === BreakpointEnum.DESKTOP) {
      <ng-container [ngTemplateOutlet]="myImageTemplate" />
    }

    <!-- WEB DEVELOPMENT -->
    <div>
      <h4>Web Development</h4>
      <p>
        Website development has been the main focus of my career for the past
        decade and every minute of it has been great. I'm experienced within all
        areas of web development from creating static Nunjucks
        brochure/portfolio websites all the way up to global cloud enterprise
        applications. The technologies I use consistently in web development are
        Microsoft's ASP.NET and Google's Angular, these two frameworks are an
        absolute pleasure to work with, a staple in my career path. I've set up
        and hosted websites on the most popular cloud platforms available using
        mixtures of the best technologies.
      </p>
      <h4>Front-end: Presentation layer</h4>
      <p>
        Every website I develop is designed with a mobile-first approach,
        generally using Twitter's flagship styling library "Bootstrap". I like
        to implement Angular when possible for engaging user interfaces and
        progressive web applications. I tend to use a more modern look in my
        designs with the latest and greatest technologies available, while
        maintaining polyfills for backwards support depending on the clients
        needs.
      </p>
      <h4>Back-end: Business and Data layers</h4>
      <p>
        Experienced in hosting, databases and data access, business logic and
        application programming interfaces, I have worked full-spectrum on every
        aspect of a website. For the back-end I prefer programming with the
        ASP.NET (4+/Core) frameworks along with a relational SQL database,
        although I've been working with NoSQL databases a lot as of late.
      </p>
    </div>

    <!-- GAME DEVELOPMENT -->
    <div>
      <h4>Game Development</h4>
      <p>
        Video games have always been a hobby of mine and it's what got me into
        programming early on in life. My childhood consisted mostly of Mario
        Kart 64 races, Super Smash Bro's beatdowns, and Game Boy Color system
        link battles; one thing was clear, I had an obsession with electronics.
        As a child playing games on the NES, SEGA, Et.al., I was always curious
        of how those great works of art were created. When I was a teen that
        interest had peaked with the advent of Flash, a platform where indie
        developers could easily develope their own games without the need of a
        studio.
      </p>
      <p>
        I had to know how to create my own work of art, I scraped internet
        forums and began teaching myself how to program. Albeit terrible at
        first without a mentor, I began that dream of developing games and
        animations using Flash and ActionScript 3 in the mid 2000's, later
        progressing to C++ and C# in college. Today game development has become
        a hobby of mine where spare time allows.
      </p>
    </div>
  </div>
</section>

<!-- RESUME -->
<section id="resume">
  <!-- PARTICLE HEXAGONS -->
  <div id="particle-hexagons-two"></div>

  <!-- RESUME CONTENT -->
  <div class="section-container">
    <!-- HEADER -->
    <h1>Résumé</h1>
    <h2>What I've worked with over the years.</h2>

    <!-- PROGRAMMING LANGUAGES -->
    <div>
      <h2>Programming Languages</h2>
      <ul>
        <li>TypeScript / JavaScript</li>
        <li>C#, C, C++</li>
        <li>Python</li>
        <li>Bash / PowerShell</li>
        <li>MySQL / TSQL</li>
        <li>HTML5 / CSS3 / SCSS / LESS</li>
      </ul>
    </div>

    <!-- FRAMEWORKS & PLATFORMS -->
    <div>
      <h2>Frameworks & Platforms</h2>
      <ul>
        <li>Google Angular (v2-18+)</li>
        <li>Google AngularJS (& migration)</li>
        <li>ASP.NET 4.x / Core</li>
        <li>Google Firebase</li>
        <li>Microsoft Azure DevOps (ADO)</li>
        <li>Amazon Web Services (AWS)</li>
      </ul>
    </div>

    <!-- LIBRARIES & TOOLS -->
    <div>
      <h2>Libraries & Tools</h2>
      <ul>
        <li>Angular-CLI, Angular Material, Angular CDK</li>
        <li>RxJS & Reactive Programming</li>
        <li>Git / Git CLI / GitHub / etc.</li>
        <li>Node.js & Package Management</li>
        <li>D3.js (Data-Driven Documents)</li>
        <li>Bootstrap & other common CSS libraries.</li>
      </ul>
    </div>

    <!-- WORKFLOWS & PROCESSES -->
    <div>
      <h2>Workflows & Processes</h2>
      <ul>
        <li>Agile Methodologies (Scrum / Kanban)</li>
        <li>Microsoft ADO / GitHub (Actions, etc.)</li>
        <li>Slack / MS Teams for communication</li>
        <li>Git version control</li>
        <li>Postman / Fiddler</li>
        <li>CI/CD (Automated testing, linting, prettifying)</li>
      </ul>
    </div>

    <!-- GENERAL ATTRIBUTES -->
    <div>
      <h2>General Attributes</h2>
      <ul>
        <li>Mentor for Angular development</li>
        <li>Team-oriented, collaborative approach</li>
        <li>Experience with large, monolithic apps</li>
        <li>Innovative problem solver</li>
        <li>Effective global communication</li>
        <li>Passionate lifelong learner</li>
      </ul>
    </div>

    <!-- OTHER INTERESTS -->
    <div>
      <h2>Other Interests</h2>
      <ul>
        <li>Open Source / community development</li>
        <li>Game development</li>
        <li>Family & personal growth</li>
        <li>Exploring new technologies</li>
        <li>Nerd culture (gaming, anime/manga, etc.)</li>
        <li>Microelectronics tinkering and tech (RPi, F0, etc.)</li>
      </ul>
    </div>

    <!-- WORK EXPERIENCE -->
    <div id="work-experience">
      <h2>Work Experience</h2>

      <!-- ALLEVA -->
      <div>
        <h4>Senior Frontend Angular Developer</h4>
        <span>
          <a
            aria-label="Alleva"
            href="https://helloalleva.com/"
            target="_blank"
            title="Alleva"
            >Alleva</a
          >, Laguna Niguel, CA. <strong>September 2022 - Present</strong>
        </span>
      </div>

      <!-- MIRAMAR -->
      <div>
        <h4>Frontend Angular Developer</h4>
        <span>
          <a
            aria-label="Miramar"
            href="http://miramar.tech/"
            target="_blank"
            title="Miramar"
            >Miramar</a
          >, Redding, CA. <strong>October 2019 - July 2022</strong>
        </span>
      </div>

      <!-- VARIOUS CLIENTS -->
      <div>
        <h4>Frontend Angular / React / Vue Developer</h4>
        <span>
          <a
            aria-label="GitHub"
            href="https://github.com"
            target="_blank"
            title="GitHub"
            >GitHub</a
          >, Remote 1099 Contractor. <strong>July 2019 - October 2019</strong>
        </span>
      </div>

      <!-- RICE LAKE WEIGHING SYSTEMS -->
      <div>
        <h4>Full Stack AngularJs & ASP.NET Core Developer</h4>
        <span>
          <a
            aria-label="Rice Lake Weighing Systems"
            href="https://www.ricelake.com"
            target="_blank"
            title="Rice Lake Weighing Systems"
            >RLWS</a
          >, Rice Lake, WI. <strong>May 2015 - June 2019</strong>
        </span>
      </div>

      <!-- SUPPORT -->
      <div>
        <h4>Computer & Network Support Services</h4>
        <span>
          <a
            aria-label="Freelancer"
            href="https://en.wikipedia.org/wiki/Freelancer"
            target="_blank"
            title="Freelancer"
            >Support Services</a
          >, Rice Lake, WI. <strong>2012 - 2015</strong>
        </span>
      </div>

      <!-- CROSSMARK -->
      <div>
        <h4>Data Analyst</h4>
        <span>
          <a
            aria-label="Crossmark"
            href="https://www.crossmark.com/"
            target="_blank"
            title="Crossmark"
            >Crossmark</a
          >, Various locations, WI. <strong>2009 - 2011</strong>
        </span>
      </div>
    </div>

    <!-- PROJECTS -->
    <div id="projects">
      <h2>Projects & Open Source</h2>

      <!-- LAMBDA GURU -->
      <div>
        <h4>Lambda Guru Website</h4>
        <span>
          <a
            aria-label="Lambda Guru"
            href="https://www.lambda.guru"
            target="_blank"
            title="Lambda Guru"
            >Lambda Guru</a
          >, released <strong>October 2024</strong>
        </span>
      </div>

      <!-- PRO ANGULAR -->
      <div>
        <h4>Angular Tutorial & Packages Website</h4>
        <span>
          <a
            aria-label="Pro Angular"
            href="https://www.ProAngular.com"
            target="_blank"
            title="Pro Angular"
            >Pro Angular</a
          >, released <strong>August 2023</strong>
        </span>
      </div>

      <!-- PIP-BOY -->
      <div>
        <h4>Pip-Boy Website (3000 Mk V Companion)</h4>
        <span>
          <a
            aria-label="Pip-Boy"
            href="https://www.Pip-Boy.com"
            target="_blank"
            title="Pip-Boy"
            >Pip-Boy</a
          >, released <strong>February 2025</strong>
        </span>
      </div>

      <!-- 3D PRINTING -->
      <div>
        <h4>Free 3D Print Designs</h4>
        <span>
          <a
            aria-label="3D Printing - GitHub"
            href="https://github.com/CodyTolene/3D-Printing"
            target="_blank"
            title="3D Printing - GitHub"
            >GitHub Repository</a
          >, first commit in <strong>June 2023</strong>
        </span>
      </div>

      <!-- FLIPPER ZERO - CAMERA SUITE -->
      <div>
        <h4>Flipper Zero - Camera Suite App</h4>
        <span>
          <a
            aria-label="Flipper Zero - Camera Suite - GitHub"
            href="https://github.com/CodyTolene/Flipper-Zero-Camera-Suite"
            target="_blank"
            title="Flipper Zero - Camera Suite - GitHub"
            >GitHub Repository</a
          >, first commit in <strong>June 2023</strong>
        </span>
      </div>

      <!-- UNICORN PI GALACTIC -->
      <div>
        <h4>Unicorn-Pi Galactic App</h4>
        <span>
          <a
            aria-label="Unicorn-Pi Galactic - GitHub"
            href="https://github.com/CodyTolene/Unicorn-Pi-Galactic"
            target="_blank"
            title="Unicorn-Pi Galactic - GitHub"
            >GitHub Repository</a
          >, first commit in <strong>July 2024</strong>
        </span>
      </div>

      <!-- MY GAME STACK -->
      <div>
        <h4>Video Game Social Media Website</h4>
        <span>
          <a
            aria-label="My Game Stack"
            href="https://www.MyGameStack.com"
            target="_blank"
            title="My Game Stack"
            >My Game Stack</a
          >, released <strong>December 2020</strong>, <br />archived June 2025
        </span>
      </div>

      <!-- GITHUB - MORE -->
      <div>
        <h4>See more on my GitHub!</h4>
        <span>
          <a
            aria-label="GitHub"
            href="https://github.com/CodyTolene"
            target="_blank"
            title="GitHub"
            >Cody Tolene - GitHub</a
          >, contributing since <strong>2014</strong>
        </span>
      </div>
    </div>

    <!-- EDUCATION -->
    <div id="education">
      <h2>Education</h2>

      <div>
        <h4>Bachelor of Science (B.S.) - Computer Programming</h4>
        <span>
          <a
            aria-label="DeVry University"
            href="https://www.devry.edu/"
            target="_blank"
            title="DeVry University"
            >DeVry University</a
          >, Chicago Illinois. <strong>2008 - 2014</strong>
        </span>
      </div>

      <div>
        <h4>High School Diploma - General Studies</h4>
        <span>
          <a
            aria-label="Rice Lake Wisconsin"
            href="https://en.wikipedia.org/wiki/Rice_Lake,_Wisconsin"
            target="_blank"
            title="Rice Lake Wisconsin"
            >Rice Lake, WI</a
          >. <strong>2004 - 2008</strong>
        </span>
      </div>

      <div>
        <h4>Various Certifications & Courses</h4>
        <span>
          See my
          <a
            aria-label="LinkedIn"
            href="https://www.linkedin.com/in/codytolene/"
            target="_blank"
            title="LinkedIn"
            >LinkedIn</a
          >
          for more up to date information.
        </span>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT -->
<section id="contact">
  <!-- PARTICLE GALAXY -->
  <div id="particle-galaxy-three"></div>

  <!-- CONTACT CONTENT -->
  <div class="section-container">
    <!-- HEADER -->
    <h1>Contact</h1>
    <h2>Feel free to reach out to me.</h2>

    <!-- EMAIL -->
    <div>
      <a
        aria-label="Contact Me"
        href="mailto:webmaster@codytolene.com"
        title="Contact Me"
      >
        <ct-icon
          class="hover-expand"
          name="email"
          size="150"
        />
        <h2>webmaster&#64;codytolene.com</h2>
      </a>
      <p>Email me, I'll follow up with you as soon as possible.</p>
    </div>

    <!-- GITHUB -->
    <div>
      <a
        aria-label="GitHub"
        href="https://github.com/CodyTolene"
        target="_blank"
        title="GitHub"
      >
        <ct-icon
          class="hover-expand"
          name="github"
          size="150"
        />
        <h2>GitHub</h2></a
      >
      <p>Fork me on GitHub!</p>
    </div>

    <!-- LINKEDIN -->
    <div>
      <a
        aria-label="LinkedIn"
        href="https://www.linkedin.com/in/codytolene/"
        target="_blank"
        title="LinkedIn"
      >
        <ct-icon
          class="hover-expand"
          name="linkedin"
          size="150"
        />
        <h2>LinkedIn</h2></a
      >
      <p>Connect with me on LinkedIn!</p>
    </div>
  </div>
</section>

<!-- REUSABLE IMAGE TEMPLATE -->
<ng-template #myImageTemplate>
  <div>
    <img
      alt="Cody Tolene"
      class="hover-expand"
      height="400"
      width="400"
      [ngSrc]="'assets/images/cody.png'"
    />
  </div>
</ng-template>
