@use '@angular/material' as mat;

@import 'colors';
@import 'fonts';
@import 'material';

#galaxy {
  align-items: center;
  background: url('/assets/images/galaxy.jpg');
  background: url('/assets/images/galaxy.webp');
  border-bottom: 4px solid
    rgba(mat.get-theme-color($ct-theme, primary, 10), 0.5);
  display: flex;
  height: 800px;
  justify-content: center;
  width: 100%;
}

#services,
#about,
#resume,
#contact {
  padding: 2rem 4rem;
}

#services,
#resume {
  background-color: mat.get-theme-color($ct-theme, secondary, 20);
  border-bottom: 4px solid
    rgba(mat.get-theme-color($ct-theme, primary, 10), 0.5);
  color: mat.get-theme-color($ct-theme, on-primary);

  > div a {
    color: mat.get-theme-color($ct-theme, primary);
  }
}

#about,
#contact {
  background-color: mat.get-theme-color($ct-theme, background);
  border-bottom: 4px solid
    rgba(mat.get-theme-color($ct-theme, primary, 10), 0.5);
}

$gap: 0.25rem;

#services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $gap;

  > h1,
  > h2 {
    align-self: stretch;
    flex: 0 1 100%;
    margin-bottom: 1rem;
    order: 0;
    text-align: center;
  }

  h2 {
    margin-bottom: 2rem;
  }

  > div {
    $padding: 1rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(100% / 3 - $gap - ($padding * 2));
    padding: $padding;

    &:last-child {
      flex: 0 1 100%;

      ct-button {
        font-size: $font_lg;
      }
    }
  }
}
