<header class="container-fluid">
  <div class="row">
    <div class="col-6 col-md-4 offset-md-2">
      <a class="cody-tolene-logo" [routerLink]="['/']"> Cody Tolene </a>
    </div>
    <div class="col-6 col-md-4">
      <nav>
        <ul>
          <li>
            <a [routerLink]="['/']" fragment="services"> Services </a>
          </li>
          <li>
            <a [routerLink]="['/']" fragment="about"> About </a>
          </li>
          <li>
            <a [routerLink]="['/']" fragment="resume"> Resume </a>
          </li>
          <li>
            <a [routerLink]="['/']" fragment="contact"> Contact </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
