:host,
header {
  width: 100%;
  height: var(--header-height);
  background: var(--theme_dark_gray);
  z-index: 999;
  overflow: hidden;
  display: block;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  width: 100%;

  .row {
    height: var(--header-height);

    > div,
    nav {
      max-height: var(--header-height);
    }
  }
}

.logo-container {
  overflow: hidden;
  white-space: nowrap;

  .cody-tolene-logo {
    display: inline-block;
    font-family: var(--font-family-bungee);
    font-size: 1.75em;
    color: var(--theme_light_green_light_tint);
    line-height: 175%;
    height: 100%;
  }
}

nav {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  font-weight: 300;
  color: var(--white);

  ul {
    flex-direction: row;
    margin-left: auto;
    text-transform: uppercase;
    display: flex;
    list-style: none;

    li {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: list-item;

      button.menu {
        width: var(--header-height);
        height: var(--header-height);

        mat-icon {
          font-size: 2rem;
        }
      }

      a {
        font-weight: 500;
        padding: 1rem;
        color: var(--white);

        &:hover {
          color: var(--theme_light_green_light_tint) !important;
          text-decoration: overline;
        }

        &:visited {
          color: var(--white);
        }
      }
    }
  }
}
