@import "../styles/typography";

.space-banner {
  width: 100%;
  height: 800px;
  background: url("/assets/images/space-banner/space.webp");
  background: url("/assets/images/space-banner/space.jpg");
  display: flex;
  align-items: center;
  justify-content: center;

  #particles {
    width: 100%;
    height: 800px;
    max-height: 800px;
    overflow: hidden;
    z-index: 1;
    cursor: default;

    * {
      z-index: 1;
    }
  }

  .message {
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    top: 30%;
    z-index: 0;

    h1,
    h3 {
      font-family: var(--font-family-montserrat);
    }

    h1 {
      color: var(--white);
      font-size: 2rem;
      margin: 0;
    }

    h3 {
      color: var(--theme_light_green_light_tint);
      font-size: 1.25rem;
      margin: 1rem 0 0 0;
    }
  }
}

.gray-background {
  background-color: var(--theme_mid_gray);
}

$icon_size: 10rem;

.icon-link {
  display: inline-block;

  svg {
    display: block;
    padding: 2rem;
    height: $icon_size;
    max-height: $icon_size;
    max-width: $icon_size;
    color: var(--theme_light_green);

    &:hover {
      color: var(--theme_light_green_light_tint);
    }
  }

  i {
    display: block;
    padding: 2rem;
    font-size: $icon_size;
    max-height: $icon_size;
    max-width: $icon_size;
  }
}
