
<footer>
    <div class="container">
        <div class="row pb-3 pt-1">
            <div class="col-6">
                <span class="copyright float-left">Copyright &copy; Cody Tolene 2019</span>
            </div>
            <div class="col-6">
                <a class="float-right"
                   href="/privacy"
                   aria-label="Visit Cody Tolene's Privacy Policy page"
                   title="Visit Cody Tolene's Privacy Policy page">
                    Privacy Policy
                </a>
            </div>
        </div>
    </div>
</footer>
