
<nav class="navbar navbar-expand-lg navbar-dark fixed-top"
     id="mainNav">
    <div class="container">
        <a class="navbar-brand {{ 'scroll-trigger' if activeTitle == 'index' }}"
           href="{{ '#page-top' if activeTitle == 'index' else '/index.html' }}">
            Cody Tolene
        </a>
        <button class="btn btn-theme navbar-toggler navbar-toggler-right"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse"
             id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link {{ 'scroll-trigger' if activeTitle == 'index' }}"
                       href="{{ '/index.html' if activeTitle !== 'index' }}#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'scroll-trigger' if activeTitle == 'index' }}"
                       href="{{ '/index.html' if activeTitle !== 'index' }}#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'scroll-trigger' if activeTitle == 'index' }}"
                       href="{{ '/index.html' if activeTitle !== 'index' }}#resume">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'scroll-trigger' if activeTitle == 'index' }}"
                       href="{{ '/index.html' if activeTitle !== 'index' }}#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-lg-none"
                       href="https://github.com/CodyTolene/codytolene.github.io"
                       aria-label="View source on GitHub"
                       title="View source on GitHub"
                       target="_blank"
                       rel="nofollow noreferrer noopener">
                        GitHub
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
