.font-roboto {
  font-family: var(--font-family-roboto);
}

.font-montserrat {
  font-family: var(--font-family-montserrat);
}

.font-justanotherhand {
  font-family: var(--font-family-justanotherhand);
}

.font-anton {
  font-family: var(--font-family-anton);
}

.font-bungee {
  font-family: var(--font-family-bungee);
}
