@import "./typography";

body {
  font-family: var(--font-family-montserrat);
  margin: 0;

  a {
    text-decoration: none;
    color: var(--theme_light_green);
    transition: 0.35s;
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: ease;
    transition-delay: 0s;

    &:hover {
      color: var(--theme_light_green_light_tint);
    }
  }
}
