@use '../../styles/variables' as var;
@use '../../styles/colors' as col;

:host {
  display: block;
}

a {
  display: block;
  color: col.$green;
  font-family: var.$secondary-font-family;
  font-size: var.$font-xxl;
  line-height: 1;
  text-decoration: none;
}
