// Core
@use './app/styles/html.scss';
@use './app/styles/body.scss';

// Fonts
@use './app/styles/font/bungee.scss';
@use './app/styles/font/roboto.scss';
@use './app/styles/font/material-icons.scss';

// Angular Material
@use './app/styles/material.scss';
