// _partial: Body

body {
    background-color: $theme_dark_gray;
    color: $typography_white;
    font-family: $font-family-montserrat;

    a {
        color: $typography_green;

        &.link {
            font-size: 3em;

            &:hover{
                text-decoration: none;
            }
        }
    }

    .text-white {
        color: $typography_white !important;
    }

    .text-black {
        color: $typography_black !important;
    }

    .text-light-gray {
        color: $typography_light_gray !important;
    }

    .no-underline {
        text-decoration: none !important;
    }

    .section {
        padding-top: 25px;
        padding-bottom: 25px;
        min-height: 300px;
        background-color: $theme_mid_gray;

        .service-logo {
            font-size: 175px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media(min-width:768px) {
    body {
        .section {
            min-height: 888px;
        }
    }
}
