// _partial: Body
@import 'Typography';
@import 'Palette';

body {
    background-color: $theme_dark_gray;
    color: $white;
    font-family: $font-family-montserrat;

    .text-white {
        color: $white !important;
    }

    .text-black {
        color: $black !important;
    }

    .text-light-gray {
        color: $theme_light_gray_light_tint !important;
    }

    a {
        color: $theme_light_green;

        &.no-underline {
            text-decoration: none !important;
        }

        &.link {
            font-size: 3em;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .section {
        padding-top: 25px;
        padding-bottom: 25px;
        min-height: 300px;
        background-color: $theme_mid_gray;

        .service-logo {
            font-size: 175px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media(min-width:768px) {
    body {
        .section {
            min-height: 888px;
        }
    }
}
