// _partial: Navigation
@import 'Fonts';
@import 'Palette';

#mainNav {
    background-color: $theme_dark_gray;

    // .navbar-toggler {
    //   font-size: 12px;
    //   right: 0;
    //   padding: 13px;
    //   text-transform: uppercase;
    //   color: white;
    //   border: 0;
    //   background-color: $theme_light_green_light_tint;
    //   font-family: $font-family-montserrat;
    // }

    .navbar-brand {
      color: $theme_light_green_light_tint;
      font-family: $font-family-bungee;
      //font-family: $font-family-justanotherhand;
      //font-family: $font-family-montserrat;
      //font-size: 2em !important;
      //font-weight: 900;

      &.active,
      &:active,
      &:focus,
      &:hover {
        color: darken($theme_light_green_light_tint, 10%);
      }
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 90%;
          font-weight: 400;
          padding: 0.75em 0;
          letter-spacing: 1px;
          color: white;
          font-family: $font-family-montserrat;

          &.active,
          &:hover {
            color: $theme_light_green_light_tint;
          }
        }
      }
    }
  }

  @media(min-width:992px) {
    #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;

      .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }

      .navbar-nav {
        .nav-item {
          .nav-link {
            padding: 1.1em 1em !important;
          }
        }
      }

      &.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: $theme_dark_gray;
        .navbar-brand {
          font-size: 1.25em;
          padding: 12px 0;
        }
      }
    }
  }
  