// _partial: Palette

// SITE THEME
$theme_dark_green: #61892F;
$theme_light_green_dark_tint: #7eb62f;
$theme_light_green: #86C232;
$theme_light_green_light_tint: #98d049;
$theme_dark_gray: #222629;
$theme_mid_gray: #474B4F;
$theme_light_gray: #6B6E70;

// RGB: PRIMARY
$black: #000;
$white: #FFF;
$red: #FF0000;
$green: #00FF00;
$blue: #0000FF;

// RGB: SECONDARY
$yellow: #FFFF00;
$magenta: #FF00FF;
$cyan: #00FFFF;

// RGB: TERTIARY
$rose: #FF007F;
$orange: #FF7F00;
$chart_green: #7FFF00;
$spring_green: #00FF7F;
$blue_azure: #007FFF;
$violet: #800080;

// RGB: PRIMARY SHADES
$green_dark: #008000;
$blue_dark: #003366;
$red_dark: #8b0000;

// TYPOGRAPHY
$typography_white: #fff;
$typography_black: #000;
$typography_green: #86C232;
$typography_light_green: #98d049;
$typography_light_gray: #bfbfbf;
