// _partial: Typography

$font-family-montserrat: 'Montserrat', Helvetica, Arial, sans-serif;
$font-family-justanotherhand: 'Just Another Hand', Helvetica, Arial, sans-serif;
$font-family-anton: 'Anton', sans-serif;
$font-family-bungee: 'Bungee', cursive;
