@import 'Palette';
@import 'Fonts';

body {
    background-color: $theme_dark_gray;
    color: $white;
    font-family: $font-family-montserrat;

    a {
        color: $theme_light_green;

        &.link {
            font-size: 3em;

            &:hover{
                text-decoration: none;
            }
        }
    }
}
